<div class="modal-header">
  <button type="button" class="close pull-right close-btn" data-dismiss="modal">&times;</button>

  <%= link_to new_message_path, class: 'btn pull-right btn btn-primary new-message-btn', remote: true do %>
      <span>New Message </span>
  <% end %>
  <!--<button type="button" class="pull-right mark-as-all-btn ">-->
  <!--<i class="fa fa-check" aria-hidden="true"></i>-->
  <!--</button>-->

  <h4 class="modal-title">Direct Messages</h4>

</div>
<div class="modal-body msg-modal-body">
  <% if @admin_message.present? %>
      <a href="<%= message_path(@admin_message.id, admin: true) %>" data-remote="true">
        <ul>
          <li style="padding: 3px;">
            <div class="user-profile">
              <%= image_tag('logo_medium.png', class: 'img-responsive img-circle') %>
            </div>
            <div class="user-message-profile">
              <small class="pull-right"><%= format_date_chat(@admin_message.created_at) %></small>
              <h4>
                Admin
                <% unless @admin_message.is_read %>
                    <label class="badge" style="background-color: #d9534f;">1</label>
                <% end %>
              </h4>
              <small style="color: #929292;">
                <%= raw @admin_message.content %>
              </small>
            </div>
          </li>
        </ul>
      </a>
  <% end %>
  <% @rooms.each do |room| %>

      <% user = Room.connected_user(room, current_user) %>
      <% message = Message.user_message(room, current_user) %>
      <% if message.present? %>
          <% unless user.blank? %>
              <% unless user.email == 'reza@solutionart.net' %>
                  <a href="<%= message_path(user.id) %>" data-remote="true">

                    <ul>
                      <li style="padding: 3px;">
                        <%#= link_to user_path(user.id) do %>
                        <div class="user-profile">
                          <div class="active-status">
                            <div class="online_offline_avatar2">
                              <%= render 'shared/online_offline_status', user: user %>
                            </div>
                          </div>
                          <%= image_tag user.avatar.present? ? user.avatar.url : 'default-profile-picture.png', class: 'img-responsive img-circle' %>
                        </div>
                        <%# end %>
                        <div class="user-message-profile">
                          <small class="pull-right"><%= format_date_chat(message.created_at) %></small>
                          <h4> <%= user.name %> </h4>
                          <% if message.user_id == current_user.id %>
                              <small style="color: #929292;"> You :<%= message.content %> </small>
                          <% else %>
                              <small style="color: #929292;"><%= message.content %> </small>
                          <% end %>

                        </div>
                      </li>
                    </ul>
                  </a>
              <% end %>
          <% end %>
      <% end %>
  <% end %>

</div>


<div class="modal-footer">
</div>