<div class="main-container">

  <section class="text-center imagebg parallax banner_height" data-overlay="4">
    <div class="background-image-holder">
      <div>
      </div>
      <%= image_tag('new/photo-9.jpg') %>
      <!--<img alt="background" src="img/new/photo-9.jpg" />-->
    </div>

    <div class="img-space">
    </div>
    <!--end of container-->

  </section>
<%#= render 'layouts/slider' %>

  <span class="clearfix"></span>

  <div class="container" style="padding-top: 25px;">
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'News & Events', news_index_path %></li>
      <li class="active">Bangladesh Navy Co-operative Housing Society Ltd (BNCHSL) </li>
    </ol>
  </div>

  <span class="clearfix"></span>

  <div class="container ph-section">
    <div class="col-md-8 col-sm-8 col-xs-12 left">
      <div class="masonry">
        <div class="masonry__container">
          <div class="masonry__item col-md-12 filter-people">
            <h4>
              Bangladesh Navy Co-operative Housing Society Ltd (BNCHSL)
            </h4>
            <!--<img alt="Image" class="img-thumbnail" src="img/150317-page-0.jpg">-->
            <%= image_tag('150317-page-0.jpg') %>

            <p>
              BN Co-operative Housing Society (BNCHSL) was established to eradicate housing problem of officers and sailors wheather serving or retired. BNCHSL Saver project has contribute so far by providing BN Co-operative
              Housing Society (BNCHSL) was established to eradicate housing problem of officers and sailors wheather serving or retired. BNCHSL Saver project has contribute so far by providing BN Co-operative Housing
              Society (BNCHSL) was established to eradicate housing problem of officers and sailors wheather serving or retired. BNCHSL Saver project has contribute so far by providing BN Co-operative Housing Society
              (BNCHSL) was established to eradicate housing problem of officers and sailors wheather serving or retired. BNCHSL Saver project has contribute so far by providing BN Co-operative Housing Society (BNCHSL)
              was established to eradicate housing problem of officers and sailors wheather serving or retired. BNCHSL Saver project has contribute so far by providing
            </p>
            <p>
              BN Co-operative Housing Society (BNCHSL) was established to eradicate housing problem of officers and sailors wheather serving or retired. BNCHSL Saver project has contribute so far by providing BN Co-operative
              Housing Society (BNCHSL) was established to eradicate housing problem of officers and sailors wheather serving or retired. BNCHSL Saver project has contribute so far by providing BN Co-operative Housing
              Society (BNCHSL) was established to eradicate housing problem of officers and sailors wheather serving or retired. BNCHSL Saver project has contribute so far by providing BN Co-operative Housing Society
              (BNCHSL) was established to eradicate housing problem of officers and sailors wheather serving or retired. BNCHSL Saver project has contribute so far by providing BN Co-operative Housing Society (BNCHSL)
              was established to eradicate housing problem of officers and sailors wheather serving or retired. BNCHSL Saver project has contribute so far by providing
            </p>
								<span class="clearfix"></span>
          </div>
        </div>
        <!--end masonry container-->
      </div>
					<span class="clearfix"></span>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 right-sidebar">
      <%= render 'layouts/template/latest_news' %>
     <%= render 'layouts/template/gallery_photo' %>
    </div>
  </div>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
  <i class="stack-interface stack-up-open-big"></i>
</a>
<a href="" style="position: fixed;bottom: 0;right: 0;"><%= image_tag('chat.png') %></a>
