<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <!--<img alt="Image" class="img-thumbnail" src="img/1.jpg">-->
    <%= image_tag '1.jpg', class: 'img-thumbnail' %>
  </a>
  <p class="name-users">
    Rear Admiral Shah Iqbal Mujtaba, ndc, psc, BN (Retd) (P No 32) <br /><small>04-06-02 to 10-01-05</small>
  </p>
</div>

<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <%= image_tag '2.jpg', class: 'img-thumbnail' %>
  </a>
  <p class="name-users">
    Rear Admiral Musharraf Hussain Khan, (ND), psc, BN, (Retd) (P No 2)<br />
    <small>07-11-73 to 03-11-79</small>
  </p>
</div>

<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <%= image_tag '3.jpg', class: 'img-thumbnail' %>
  </a>
  <p class="name-users">
    Late Rear Admiral Mahbub Ali Khan, (TAS), psc, BN (Retd) (P No 3)<br />

    <small>04-11-79 to 06-08-84</small></p>
</div>

<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <%= image_tag '4.jpg', class: 'img-thumbnail' %>
  </a>
  <p class="name-users">
    Late Rear Admiral Sultan Ahmed, (C), BN (Retd) (P No 6)
    <br /><small>06-08-84 to 14-08-90</small>
  </p>
</div>

<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <%= image_tag '5-1.jpg', class: 'img-thumbnail' %>
  </a>
  <p class="name-users">Rear Admiral Amir Ahmed Mustafa,(SM),psc,BN (Retd)(P No 21)<br />
    <small>15-08-90 to 04-06-91</small>
  </p>
</div>

<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <%= image_tag '6.jpg', class: 'img-thumbnail' %>
  </a>
  <p class="name-users">Rear Admiral Mohammad Mohaiminul Islam,(SM),ncc,psc,BN(Retd(P No 20)

    <br /><small>05-06-91 to 03-06-95</small>
  </p>
</div>

<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <%= image_tag('7.jpg', class: "img-thumbnail" ) %>
  </a>
  <p class="name-users">Rear Admiral Mohammad Nurul Islam, ncc, psc, BN (Retd) (P No 31) <br /><small>04-06-95 to 03-06-99</small></p>
</div>

<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <%= image_tag('8.jpg', class: "img-thumbnail" ) %>
  </a>
  <p class="name-users">Rear Admiral Abu Taher, ndu, psc, BN (Retd) (P No 44)<br /><small>04-06-99 to 03-06-02</small></p>
</div>

<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <%= image_tag('9.jpg', class: "img-thumbnail" ) %>
  </a>
  <p class="name-users">Rear Admiral Shah Iqbal Mujtaba, ndc, psc, BN (Retd) (P No 32)  <br /><small>04-06-02 to 10-01-05</small></p>
</div>

<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <%= image_tag('10.jpg', class: "img-thumbnail" ) %>
  </a>
  <p class="name-users">Late Rear Admiral Mohammad Hasan Ali Khan, (C), ndc, psc, BN (Retd) (P No 47) <br /><small>10-01-05 to 10-02-07</small></p>
</div>

<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <%= image_tag('11.jpg', class: "img-thumbnail" ) %>
  </a>
  <p class="name-users">Vice Admiral Sarwar Jahan Nizam, (C), ndu, psc, BN (Retd) (P No 58)  <br /><small>10-02-07 to 28-01-09</small></p>
</div>

<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <%= image_tag('12.jpg', class: "img-thumbnail" ) %>
  </a>
  <p class="name-users">Vice Admiral Zahir Uddin Ahmed, (ND), ndc, psc, BN (Retd) (P No 164)  <br /><small>29-01-09 to 28-01-13</small></p>
</div>

<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <%= image_tag('13.jpg', class: "img-thumbnail" ) %>
  </a>
  <p class="name-users">ADMIRAL MUHAMMAD FARID HABIB, NBP, OSP, BCGM, ndc, psc (retd) BN  <br /><small>28-01-2013 to 27-01-2016</small></p>
</div>

<div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
  <a href="">
    <%= image_tag('14.jpg', class: "img-thumbnail" ) %>
  </a>
  <p class="name-users">(ADMIRAL NIZAMUDDIN AHMED, NBP, OSP, BCGM, ndc, psc (Retd) (P No 246) <br /><small>27-01-2016 to 26-01-2019</small></p>
</div>