<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title"><%= @likes.count %> Likes</h4>
</div>
<div class="modal-body">
  <ul>
    <% @likes.each do |like| %>
        <% unless like.user.blank? %>
        <li>
          <div class="user-profile">
            <% if like.user.avatar.present? %>
                <%= image_tag like.user.avatar.url, class: 'img-responsive img-circle' %>
            <% else %>
                <%= image_tag 'avatar.jpg', class: 'img-responsive img-circle' %>
            <% end %>
            <%#= image_tag like.user.avatar.url || 'avatar.jpg', class: 'img-responsive img-circle' %>
          </div>
          <a href="/users/<%= like.user.id %>" data-remote="true"><%= like.user.name %></a>
        </li>
        <% end %>
    <% end %>
  </ul>
</div>
<div class="modal-footer">
  <div class="btn btn-default" data-dismiss='modal'>Cancel</div>
</div>