<div class="main-container" style="background-color: #ffffff">
  <section class="text-center imagebg parallax banner_height" data-overlay="4">
    <div class="background-image-holder">
      <div>
      </div>
      <%= image_tag('facilityinner/gallery_photo/photo-16.jpg') %>
    </div>
    <div class="img-space">
    </div>

  </section>
  <%#= render 'layouts/slider' %>

  <span class="clearfix">
			</span>
  <div class="container " style="padding-top: 25px;">
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>

      <li class="active">Album </li>

    </ol>
  </div>

  <span class="clearfix"></span>

  <div class="container ph-section">
    <div class="col-md-8 col-sm-8 col-xs-12 left">
      <div class="masonry">
        <!--end masonry filters-->
        <div class="masonry__container masonry--active">
          <div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
            <a href="<%= asset_url('facilityinner/gallery_photo/photo-1.jpg') %>" data-lightbox="Gallery 1">
              <!--<img alt="Image" class="img-thumbnail" src="img/new/photo-1.jpg">-->
              <%= image_tag('facilityinner/gallery_photo/photo-1.jpg', class: "img-thumbnail") %>
            </a>
          </div>
          <div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
            <a href="<%= asset_url('facilityinner/gallery_photo/photo-2.jpg') %>" data-lightbox="Gallery 1">
              <%= image_tag('facilityinner/gallery_photo/photo-2.jpg', class: "img-thumbnail") %>
            </a>
          </div>
          <div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
            <a href="<%= asset_url('facilityinner/gallery_photo/photo-3.jpg') %>" data-lightbox="Gallery 1">
              <%= image_tag('facilityinner/gallery_photo/photo-3.jpg', class: "img-thumbnail") %>
            </a>
          </div>
          <div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
            <a href="<%= asset_url('facilityinner/gallery_photo/photo-4.jpg') %>" data-lightbox="Gallery 1">
              <%= image_tag('facilityinner/gallery_photo/photo-4.jpg', class: "img-thumbnail") %>
            </a>
          </div>
          <div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
            <a href="<%= asset_url('facilityinner/gallery_photo/photo-5.jpg') %>" data-lightbox="Gallery 1">
              <%= image_tag('facilityinner/gallery_photo/photo-5.jpg', class: "img-thumbnail") %>
            </a>
          </div>
          <div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
            <a href="<%= asset_url('facilityinner/gallery_photo/photo-6.jpg') %>" data-lightbox="Gallery 1">
              <%= image_tag('facilityinner/gallery_photo/photo-6.jpg', class: "img-thumbnail") %>
            </a>
          </div>
          <div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
            <a href="<%= asset_url('facilityinner/gallery_photo/photo-7.jpg') %>" data-lightbox="Gallery 1">
              <%= image_tag('facilityinner/gallery_photo/photo-7.jpg', class: "img-thumbnail") %>
            </a>
          </div>
          <div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
            <a href="<%= asset_url('facilityinner/gallery_photo/photo-8.jpg') %>" data-lightbox="Gallery 1">
              <%= image_tag('facilityinner/gallery_photo/photo-8.jpg', class: "img-thumbnail") %>
            </a>
          </div>
          <div class="masonry__item col-md-4 col-xs-4 filter-people" data-masonry-filter="People">
            <a href="<%= asset_url('facilityinner/gallery_photo/photo-9.jpg') %>" data-lightbox="Gallery 1">
              <%= image_tag('facilityinner/gallery_photo/photo-9.jpg', class: "img-thumbnail") %>
            </a>
          </div>
        </div>
        <!--end masonry container-->
      </div>

      <span class="clearfix"></span>

      <ul class="pagination gallery-pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 right-sidebar">
      <div>
        <%= render 'layouts/template/album' %>
        <%= render 'layouts/template/latest_news' %>
      </div>
    </div>

  </div>

</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
  <i class="stack-interface stack-up-open-big"></i>
</a>

<a href="" style="position: fixed;bottom: 0;right: 0;"><%= image_tag('chat.png') %></a>

<script src="js/jquery-3.1.1.min.js">
</script>
<script src="js/flickity.min.js">
</script>
<script src="js/easypiechart.min.js">
</script>
<script src="js/parallax.js">
</script>
<script src="js/typed.min.js">
</script>
<script src="js/datepicker.js">
</script>
<script src="js/isotope.min.js">
</script>
<script src="js/ytplayer.min.js">
</script>
<script src="js/lightbox.min.js">
</script>
<script src="js/granim.min.js">
</script>
<script src="js/jquery.steps.min.js">
</script>
<script src="js/countdown.min.js">
</script>
<script src="js/twitterfetcher.min.js">
</script>
<script src="js/spectragram.min.js">
</script>
<script src="js/smooth-scroll.min.js">
</script>
<script src="js/scripts.js">
</script>
</body>

</html>