<div class="main-container" style="background-color: #ffffff">

  <!--  <section class="text-center imagebg parallax  banner_height" data-overlay="4">
    <div class="background-image-holder">
      <div>
      </div>
      <%#= image_tag 'facilityinner/gallery_photo/photo-8.jpg', alt: 'background' %>
    </div>
    <div class="img-space">
    </div>
  </section>-->


  <section class="text-center imagebg parallax banner_height custom-bg-color-hide" data-overlay="4">
    <div class="background-image-holder">
      <div class="asad" style="background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0">

      </div>
      <%= image_tag 'facilityinner/gallery_photo/photo-8.jpg', alt: 'background' %>
    </div>
    <div class="img-space">
    </div>
  </section>

  <%#= render 'layouts/slider' %>

  <span class="clearfix"></span>

  <div class="container" style="padding-top: 25px;">
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">News & Events</li>
    </ol>
  </div>

  <span class="clearfix"></span>

  <div class="container ph-section">
    <div class="col-md-8 col-sm-8 col-xs-12 left events">

      <% if @all_news.present? %>
          <% @all_news.each do |news| %>

              <div class="col-sm-6 " style="height: 380px; margin-bottom: 25px; width:352px;">
                <div class="  feature-1">
                  <div class="feature__body boxed boxed--border news-pub-boxed">

                    <h5 style="height: 40px;">
                      <%= link_to news_path(news) do %>
                          <%= truncate(news.title, length: 60) %>
                      <% end %>
                    </h5>

                    <div class="divider"></div>
                    <% if news.photo.present? %>
                        <% if news.photo.path.downcase.end_with?('.pdf') %>
                            <a href="<%= asset_url news.photo.url %>" class="zoomable-content">
                              <%= image_tag news.photo.present? ? news.photo.url(:large_thumb_pdf) : 'facilityinner/gallery_photo/no-image-available.png', width: "360", height: "250", class: 'img-thumbnail' %>
                            </a>
                        <% elsif news.is_doc? %>
                            <div class="zoomable-docx-wrapper">
                              <iframe src='https://docs.google.com/viewer?embedded=true&url=<%= news.doc_url(request.host) %>' width='360' height='240' style='border: none;'>
                              </iframe>
                              <a href="https://docs.google.com/viewer?embedded=true&url=<%= news.doc_url(request.host) %>" class="zoomable-content docx-zoomable"></a>
                            </div>
                        <% else %>
                            <a href="<%= asset_url news.photo.url %>" data-lightbox="Gallery 1">
                              <%= image_tag news.photo.present? ? news.photo.url : 'facilityinner/gallery_photo/no-image-available.png', class: 'img-responsive img-thumbnail', height: "250", width: "360" %>
                            </a>
                        <% end %>
                    <% else %>
                        <%= image_tag 'facilityinner/gallery_photo/no-image-available.png', class: 'img-responsive img-thumbnail', height: 250, width: 360 %>
                    <% end %>
                  </div>
                </div>
                <!--end feature-->
              </div>

              <% unless @all_news.count/2 != 0 %>
                  <span class="clearfix"></span>
              <% end %>

          <% end %>

      <% else %>

          <%= render 'shared/no_data_available' %>

      <% end %>

      <%= will_paginate @all_news %>

    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 right-sidebar">
      <%= render 'layouts/template/gallery_photo' %>
    </div>

  </div>

</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
  <i class="stack-interface stack-up-open-big"></i>
</a>

<%= render 'news/zoom_modal' %>

<script type="text/javascript">
    $(function () {
        $('.zoomable-content').click(function (e) {
            var modal_selector = $("#document-viewer-modal");
            url = $(this).attr('href');
            console.log(url);
            modal_selector.modal();
            modal_selector.find("#document-viewer-frame").attr('src', url);
            modal_selector.data('bs.modal').handleUpdate();
            e.preventDefault();
        });
    });
</script>