<div id="after-login-index" style="margin-top: 60px;">

  <div class="container main-areas">
    <div class="row">

      <!-- Left sidebar started -->
      <div class="col-md-3 col-sm-3 col-xs-12">
        <!-- short profile at top of the left sidebar -->
        <%= render 'users/short_profile_of_left_sidebar_top' %>

        <!-- job section at left sidebar -->
        <%= render 'shared/jobs_portion' %>

        <!-- trends section of left sidebar -->
        <%= render 'shared/trends' %>

        <!-- job post guideline section of left sidebar -->
        <%= render 'shared/job_post_guideline' %>

        <!-- News and publication menu addition of left sidebar -->
        <div class="bg-color tp-sp" style="margin-bottom: 20px;">
          <div class="jp">
            <div class="title-barx">
              <%= link_to news_index_path do %>
                News & Publication
              <% end %>
            </div>
          </div>
        </div>

      </div>

      <!-- main content of index at middle between left and right sidebar -->
      <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
        <div class="bg-color main-content" id="newsfeed">
          <div class="form-area post-form-areaxx">
            <%= render 'form' %>
          </div>
        </div>
      </div>

      <!-- right sidebar started-->
      <div class="col-md-3 col-sm-3 col-xs-12">
        <%= render 'shared/right_site_bar' %>
      </div>

    </div>
  </div>

  <!-- modal for followers-->
  <%#= render 'home/followers_modal' %>
  <!-- modal for following-->
  <%#= render 'home/following_modal' %>

</div>

<style type="text/css">
  .download_icon{
    /*margin-left: 150px;*/
  }
  .profile-mar30{
    margin-bottom: 30px !important;
  }
  .trend-list ul{
    margin:0;
    padding: 0;
  }
  .trend-list ul li form{
    width: auto;
  }
  .trend-list ul li{
    list-style: none;
    width: 100%;
  }
  .trend-list ul li button{
    text-align: left;
  }
  .trend-list ul li .file-input-wrapper.profile-camera.upload-cv:hover{
    color: #3b85c6;
  }
  .trend-list ul li .upload-cv .btn-file-input{
    font-size: 15px;
    color:#000;
  }
  .trend-list ul li .upload-cv .btn-file-input i{
    margin-right: 6px;
  }
  .trend-list ul li .file-input-wrapper.profile-camera.upload-cv{
    width: 100%;
  }
  .trend-list .upload-cv > input[type="file"]{
    height: 26px;
    padding: 0;
    font-size: 15px;
  }
  .upload-cv{
    top:0;
    float: left;
    margin:0;
    position: relative;
    height: 30px;
    width:auto;
    left: 0;
    cursor: text;
  }
  .upload-cv > input[type="file"]{
    left: 0;
  }
  .upload-cv a{
    margin-left: 0;
    float: right;
    /* display: block; */
    width: 31px;
    text-align: center;
    padding: 5px;
  }
  .upload-cv .btn-file-input{
    height: 30px;
    font-size: 20px;
    color: #4a90e2;
  }
  .upload-cv > input[type="file"]{
    height: 36px;
  }
  .follow-form form{
    float: left;
  }
  .follow-form form .btn-success:hover{
    color:#000;
  }
  .who small{
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 50px; */
    float: right;
  }
  .follow-us-button{
    color: #4a90e2;
    background: #fff;
    border-radius: 40px;
    height: 25px;
    line-height: 7px;
    display: block;
    font-weight: 400;
    font-size: 0.85714286em;
  }
  .follow-us-button:hover{
    background:#eee;
    color: #000;
    border:none;
  }
  .follow-us-button:focus{
    background:#eee !important;
    color: #000 !important;
    border:none;
  }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $("#upload_btn").change(function () {
            var file_data = $("#upload_btn").prop("files")[0];
            var form_data = new FormData();
            form_data.append("avatar", file_data);
            var other_data = $('form').serializeArray();
            $.each(other_data, function (key, input) {
                form_data.append(input.name, input.value);
            });
        });
    });

    //    $(document).on('change', "#post_attachment", function () {
    //$("#img-preview").hide();
    //                $("#img_preview").append($("#img-preview")[0]);
    //        alert('dfgdg');
    //    });

</script>