<footer class="text-center space--sm footer-5  bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 implinks">
        <div class="heading-block">

          <div class="center-heading home-title-facitlity two-arrow" style="margin-bottom: 0px">
            <h2>Important Links</h2>
          </div>

          <div class="implink" style="border-bottom: 1px solid #eee; margin-bottom: 30px; padding-bottom: 15px">
            <ul class="list-inline list--hover">
              <li><a href="http://navy.mil.bd/" target="_blank"><span style="color: #000; font-size: 15px; text-transform: none !important;">Bangladesh Navy</span></a></li>
              <li><a href="http://ions.navy.mil.bd/" target="_blank" ><span style="color: #000; font-size: 15px; text-transform: none !important;">IONS</span></a></li>
              <li><a href="http://www.senakalyan.org" target="_blank" ><span style="color: #000; font-size: 15px; text-transform: none !important;">Sena Kalyan Shangstha</span></a></li>
              <li><a href="http://www.basb.gov.bd/" target="_blank" ><span style="color: #000; font-size: 15px; text-transform: none !important;">Bangladesh Armed Services Board</span></a></li>
              <li><a href="http://www.bdjobs.com/" target="_blank" ><span style="color: #000; font-size: 15px; text-transform: none !important;">BD Jobs Ltd</span></a></li>
              <li><a href="http://w3.khulnashipyard.com/" target="_blank" ><span style="color: #000; font-size: 15px; text-transform: none !important;">Khulna Shipyard Ltd</span></a></li>
              <li><a href="http://www.cddl.gov.bd/" target="_blank" ><span style="color: #000; font-size: 15px; text-transform: none !important;">Chittagong Dry Dock Ltd</span></a></li>
              <li><a href="http://www.dewbn.com/" target="_blank" ><span style="color: #000; font-size: 15px; text-transform: none !important;">Dockyard and Engineering Works Narayanganj, Narayanganj</span></a></li>
            </ul>
          </div>

          <ul class="list-inline list--hover">
            <li><%= link_to 'HOME', root_path %></li>
            <li><%= link_to 'FACILITIES', facilities_path %></li>
            <li><%= link_to 'FORMS', facility_forms_path %></li>
            <li><%= link_to 'GALLERY', galleries_path %></li>
            <li><%= link_to 'NEWS & EVENTS', news_index_path %></li>
            <li><%= link_to 'CONTACT', contact_path %></li>
          </ul>
        </div>

        <!--        <div>
                  <ul class="social-list list-inline list&#45;&#45;hover">
                    <li>
                      <a href="#">
                        <i class="socicon socicon-google icon icon&#45;&#45;xs"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="socicon socicon-twitter icon icon&#45;&#45;xs"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="socicon socicon-facebook icon icon&#45;&#45;xs"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="socicon socicon-instagram icon icon&#45;&#45;xs"></i>
                      </a>
                    </li>
                  </ul>
                </div>-->

        <div>
          <script type="text/javascript" src="https://www.stat-counter.org/count/gg9"></script><br>
          <a href='http://besucherzaehler.co'>Besucherzähler f. Website</a>
          <script type='text/javascript' src='https://whomania.com/ctr?id=d8f1ce58441d8af7eac360b928353287810f2b34'></script>
        </div>

        <div>
        <span class="type--fine-print">
            Developed by
            <a href="http://solutionart.net" target="_blank">Solution Art</a>
        </span>
        </div>

        <div>
            <span class="type--fine-print">
                &copy;
              <span class="update-year"></span>
                Bangladesh Navy Veterans
            </span>

          <a class="type--fine-print" href="#">Privacy Policy</a>
          <a class="type--fine-print" href="#">Legal</a>
        </div>

      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</footer>


